body{
margin: 0;
text-align: center;
font-family: 'Lobster', 'cursive',sans-serif;
}
.pro{
    text-decoration: underline;
}
h1{
    font-size: 4.200rem;
    font-family: 'sacramento', 'cursive';
    margin: 50px auto 0 auto;
    color: #66BFBF;
    
}
.sumayyah{
    color:magenta;
    
}
.pro{
    color: plum;
}
h2{
    font-size: 2.5rem;
    color: #66BFBF;
    padding-bottom: 10px;
}
h3{
    color: #11999E;
}
a{
    color: #11999E;
    margin: 10px 20px;
    text-decoration: none;
}
.copyright{
    color: #EAF6F6;
    font-size: 0.75rem;
    padding: 40px 0;


}
a:hover{

    color: #EAF6F6;
}
.skill-row{
    width: 50%;
    margin:100px auto;
    text-align: left;
    line-height: 2;
}
.my-skills{
    color: palevioletred;
}
.teaching{
    color: royalblue;
}
.hello{
    color:blue;
}
.in-touch{
    color:hotpink;
}
.love-cooking{
    color: crimson;

}
hr{
    border-width: 4px;
    width: 20%;
    border-style: none;
    border-top-style: dotted;
}
.top-container{
    background-color: #E4F9F5;
    position: relative;
    padding-top:100px

}
.middle-container{
background-color:azure;
margin: 15px 0 15px 0;
}
.teach{
    width: 25%;
    float: left;
    margin-right: 30px;
    border-radius: 78px;

}
.pot{
    width: 25%;
    margin-left:30px;
    float:right;
    border-radius: 78px;

}
.cooking{
    color: palevioletred;
}
.contact-me{
    width: 40%;
    margin: 20px auto 90px;
    
}
.contact-message{
line-height: 2;

}
.hijab{
    background-color: beige;
    margin-top: 10px;
    height: 300px;
    width: 300px;
    border-radius: 200px;
}
.bottom-container{
    background-color: powderblue;
    height: 100px;
    padding: 20px 0 10px;
}
.bottom-cloud{
    position:absolute;
    right: 360px;
    bottom: 340px;
}
.middle-cloud{
    position:absolute;
    bottom:340px;
    left: 400px;
}
.top-cloud{
    position: absolute;
    top: 70px;
    right: 550px;
}
.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999E);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999E);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999E);
    background-image: -o-linear-gradient(top, #11cdd4, #11999E);
    background-image: linear-gradient(to bottom, #11cdd4, #11999E);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Lobster', 'cursive',sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }
  